<footer>
  
  <div class="footer"> The Solar System. <br/>
        CCST336 Internet Programming. 2019&copy; Uganiza <br/>
        <strong>Disclaimer:</strong> The information in this webpage is <br/>
        used for academic purposes only. <br/>
        Information obtained can be found <a href="https://solarsystem.nasa.gov/solar-system/our-solar-system/overview/" target="_blank">here</a> 
        </div>
  
  
</footer>