<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <h1>The Solar System Page</h1>
    <img src="/img/ss.jpg"/>
    
    <div class="desc">
        
        Our solar system consists of our star, the Sun, and everything bound to it by gravity — 
        the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, dwarf planets such as Pluto,
        dozens of moons and millions of asteroids, comets and meteoroids.
        
    </div>
    
    
    <% include partials/footer.ejs %>
</body>
</html>