<!--All ejs tags go within the tags <%%> below -->
<% include partials/header.ejs %>

<body>
    <h1>Mars Page</h1>
    <img src="/img/mars.jpg"/>
    
    <div class="desc">
        
        The fourth planet from the Sun, Mars is a dusty, cold, desert world with a very thin atmosphere.
        This dynamic planet has seasons, polar ice caps and weather and canyons and extinct volacanoes, evidence of an even more active past.
        
    </div>
    
    <% include partials/footer.ejs %>
</body>
</html>